<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

        <!-- NAV BAR DE ARRIBA -->
        <nav class="navbar bg-warning">
            <div class="container-fluid">
              <a class="navbar-brand"><h3>Cecilia Bot - Categorias </h3></a>
            </div>
        </nav>
    </head>


    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

        <!-- NAV BAR DE ARRIBA -->
        <nav class="navbar bg-dark">
        </nav>
        <!-- DIVISOR DE COLUMNAS -->
        <div class="container-fluid">
            <h3>Agregar Categoria</h3>

            <form action="{% url 'commit_category'%}" method="post">
                {% csrf_token %}
                <div class="input-group mb-1">
                    <span class="input-group-text" id="basic-addon1">Nueva Categoria:</span>
                    <input required class="form-control" name="NewCategory" aria-label="Pregunta" aria-describedby="basic-addon1">
                </div>
                <input class="btn btn-success btn-sm" type="submit" value="Guardar" />
                <button onclick="location.href='{% url 'go_home' %}'" type="button" class="btn btn-outline-secondary btn-sm">Cancelar</button>
            </form>
        </div>

    </body>
</html>